[data-theme="light"] {
  /* color */
  --black: #000000;
  --white: #ffffff;
  --blue-1: #f0fbff;
  --blue-10: #00449f;
  --blue-2: #e8f3fd;
  --blue-3: #d1dfff;
  --blue-4: #a8bfff;
  --blue-5: #7ba2ff;
  --blue-6: #4689ff;
  --blue-7: #006ae6;
  --blue-8: #005fea;
  --blue-9: #0050c7;
  --coldgrey-1: #f2f6f9;
  --coldgrey-10: #323c47;
  --coldgrey-2: #dfe6ef;
  --coldgrey-3: #ccd5e4;
  --coldgrey-4: #b8c3d7;
  --coldgrey-5: #a3b0c6;
  --coldgrey-6: #8d9ab2;
  --coldgrey-7: #768399;
  --coldgrey-8: #5f6b7e;
  --coldgrey-9: #485463;
  --deep-sky-blue-1: #f2fafe;
  --deep-sky-blue-10: #225e72;
  --deep-sky-blue-2: #d8f1fb;
  --deep-sky-blue-3: #bde7f9;
  --deep-sky-blue-4: #a0def6;
  --deep-sky-blue-5: #7fd4f3;
  --deep-sky-blue-6: #58caf0;
  --deep-sky-blue-7: #1dbee9;
  --deep-sky-blue-8: #239dbf;
  --deep-sky-blue-9: #257d98;
  --green-1: #f0faee;
  --green-10: #1d5b1d;
  --green-2: #d3f0cd;
  --green-3: #b6e5ad;
  --green-4: #97da8d;
  --green-5: #75cf6d;
  --green-6: #4ec34b;
  --green-7: #14b529;
  --green-8: #1c9625;
  --green-9: #1f7821;
  --light-indigo-1: #f6f1fd;
  --light-indigo-10: #422d6d;
  --light-indigo-2: #e3d5f8;
  --light-indigo-3: #d0b9f4;
  --light-indigo-4: #bc9fef;
  --light-indigo-5: #a784e9;
  --light-indigo-6: #926ae3;
  --light-indigo-7: #7a51db;
  --light-indigo-8: #6745b5;
  --light-indigo-9: #543990;
  --light-orange-1: #fff4ee;
  --light-orange-10: #7b3f1d;
  --light-orange-2: #ffe0cc;
  --light-orange-3: #ffcbac;
  --light-orange-4: #ffb78c;
  --light-orange-5: #ffa26c;
  --light-orange-6: #fd8d4c;
  --light-orange-7: #f4772d;
  --light-orange-8: #ca6428;
  --light-orange-9: #a15122;
  --light-sea-green-1: #f1fbf4;
  --light-sea-green-10: #20623f;
  --light-sea-green-2: #d5f4df;
  --light-sea-green-3: #b8eccb;
  --light-sea-green-4: #9ae3b6;
  --light-sea-green-5: #7adba2;
  --light-sea-green-6: #54d28e;
  --light-sea-green-7: #20c67a;
  --light-sea-green-8: #23a366;
  --light-sea-green-9: #238252;
  --neutral-dark-1: #8e8e8e;
  --neutral-dark-10: #1e1e1e;
  --neutral-dark-2: #808080;
  --neutral-dark-3: #737373;
  --neutral-dark-4: #666666;
  --neutral-dark-5: #595959;
  --neutral-dark-6: #4c4c4c;
  --neutral-dark-7: #404040;
  --neutral-dark-8: #343434;
  --neutral-dark-9: #292929;
  --neutral-light-1: #fcfcfd;
  --neutral-light-10: #8e9094;
  --neutral-light-2: #f9fafb;
  --neutral-light-3: #eff0f1;
  --neutral-light-4: #e2e3e5;
  --neutral-light-5: #d5d6d9;
  --neutral-light-6: #c8cacc;
  --neutral-light-7: #bcbec1;
  --neutral-light-8: #b0b1b5;
  --neutral-light-9: #a3a5a9;
  --orange-1: #fff7ed;
  --orange-10: #7b4c14;
  --orange-2: #ffe7ca;
  --orange-3: #ffd7a7;
  --orange-4: #ffc784;
  --orange-5: #ffb761;
  --orange-6: #ffa73a;
  --orange-7: #f99602;
  --orange-8: #ce7c0e;
  --orange-9: #a36413;
  --orange-red-1: #fff1ec;
  --orange-red-10: #7c2815;
  --orange-red-2: #ffd6c7;
  --orange-red-3: #ffbba3;
  --orange-red-4: #ff9f80;
  --orange-red-5: #ff825e;
  --orange-red-6: #ff613c;
  --orange-red-7: #f93d1d;
  --orange-red-8: #ce371b;
  --orange-red-9: #a43018;
  --pink-1: #fff1f5;
  --pink-10: #732a46;
  --pink-2: #ffd7e2;
  --pink-3: #fdbccf;
  --pink-4: #f9a1bd;
  --pink-5: #f484ab;
  --pink-6: #ee6699;
  --pink-7: #e54487;
  --pink-8: #bd3c71;
  --pink-9: #97335b;
  --red-1: #ffefea;
  --red-10: #661a0d;
  --red-2: #fecec1;
  --red-3: #f9ae9a;
  --red-4: #f18e74;
  --red-5: #e66c50;
  --red-6: #da462c;
  --red-7: #c9150b;
  --red-8: #a61a0d;
  --red-9: #851b0d;
  --turquoise-1: #f2fcfb;
  --turquoise-10: #236863;
  --turquoise-2: #d8f6f3;
  --turquoise-3: #bdf0eb;
  --turquoise-4: #80e4db;
  --turquoise-5: #5addd3;
  --turquoise-6: #5addd3;
  --turquoise-7: #23d2c7;
  --turquoise-8: #27ada4;
  --turquoise-9: #268a83;
  --yellow-1: #fffaee;
  --yellow-10: #785f16;
  --yellow-2: #ffefcd;
  --yellow-3: #ffe5ac;
  --yellow-4: #ffdb8a;
  --yellow-5: #fcd168;
  --yellow-6: #f8c841;
  --yellow-7: #f0bc02;
  --yellow-8: #c79c10;
  --yellow-9: #9f7d15;
}
[data-theme="light"] {
  /* color */
  --brand: var(--blue-7, #006ae6);
  --bg-bg: var(--white, #ffffff);
  --bg-card: var(--neutral-light-2, #f9fafb);
  --bg-disabled: var(--coldgrey-1, #f2f6f9);
  --bg-mask: #000000b2;
  --bg-page-base: var(--coldgrey-1, #f2f6f9);
  --bg-sidenav: var(--white, #ffffff);
  --bg-table-head: var(--coldgrey-1, #f2f6f9);
  --bg-tooltip: #000000cc;
  --bg-btn-danger-default: var(--white, #ffffff);
  --bg-btn-danger-disabled: var(--coldgrey-1, #f2f6f9);
  --bg-btn-danger-hover: var(--red-1, #ffefea);
  --bg-btn-danger-pressed: var(--red-2, #fecec1);
  --bg-btn-disabled: var(--coldgrey-1, #f2f6f9);
  --bg-btn-icon-default: var(--coldgrey-6, #8d9ab2);
  --bg-btn-icon-disabled: var(--coldgrey-4, #b8c3d7);
  --bg-btn-icon-hover: var(--blue-7, #006ae6);
  --bg-btn-primary-default: var(--blue-7, #006ae6);
  --bg-btn-primary-disabled: var(--coldgrey-4, #b8c3d7);
  --bg-btn-primary-hover: var(--blue-6, #4689ff);
  --bg-btn-primary-pressed: var(--blue-8, #005fea);
  --bg-btn-secondary-default: var(--white, #ffffff);
  --bg-btn-secondary-disabled: var(--coldgrey-1, #f2f6f9);
  --bg-icon-icon: var(--coldgrey-6, #8d9ab2);
  --bg-icon-interactive-default: var(--coldgrey-6, #8d9ab2);
  --bg-icon-interactive-disabled: var(--coldgrey-3, #ccd5e4);
  --bg-icon-interactive-hover: var(--blue-7, #006ae6);
  --bg-icon-inverse: var(--white, #ffffff);
  --bg-icon-subdued: var(--coldgrey-4, #b8c3d7);
  --bg-interactive-primary-default: var(--blue-7, #006ae6);
  --bg-interactive-primary-disabled: var(--coldgrey-4, #b8c3d7);
  --bg-interactive-primary-hover: var(--blue-6, #4689ff);
  --bg-interactive-primary-pressed: var(--blue-8, #005fea);
  --bg-module-active: var(--blue-1, #f0fbff);
  --bg-module-default: var(--white, #ffffff);
  --bg-module-disabled: var(--coldgrey-1, #f2f6f9);
  --bg-module-hover: var(--blue-2, #e8f3fd);
  --bg-tag-error: #c9150b1a;
  --bg-tag-offline: var(--coldgrey-1, #f2f6f9);
  --bg-tag-progress: #006ae61a;
  --bg-tag-selectable: var(--coldgrey-2, #dfe6ef);
  --bg-tag-success: #14b5291a;
  --bg-tag-warning: #f996021a;
  --border-input-active: var(--blue-8, #005fea);
  --border-input-default: var(--coldgrey-2, #dfe6ef);
  --border-input-disabled: var(--coldgrey-2, #dfe6ef);
  --border-input-hover: var(--blue-7, #006ae6);
  --border-line: var(--coldgrey-2, #dfe6ef);
  --semantics-error: var(--red-7, #c9150b);
  --semantics-info: var(--blue-7, #006ae6);
  --semantics-success: var(--green-7, #14b529);
  --semantics-warning: var(--orange-7, #f99602);
  --text-btn-secondary-disabled: var(--coldgrey-4, #b8c3d7);
  --text-danger-default: var(--red-7, #c9150b);
  --text-danger-hover: #c9150bb2;
  --text-danger-pressed: var(--red-8, #a61a0d);
  --text-description: var(--coldgrey-6, #8d9ab2);
  --text-disabled: var(--coldgrey-4, #b8c3d7);
  --text-inverse: var(--white, #ffffff);
  --text-primary: var(--coldgrey-10, #323c47);
  --text-secondary: var(--coldgrey-8, #5f6b7e);
  --text-sidenav-active: var(--blue-7, #006ae6);
  --text-sidenav-hover: var(--blue-7, #006ae6);
  --text-interactive-default: var(--blue-7, #006ae6);
  --text-interactive-disabled: var(--coldgrey-3, #ccd5e4);
  --text-interactive-hover: var(--blue-6, #4689ff);
  --text-interactive-pressed: var(--blue-8, #005fea);
}
[data-theme="light"] {
  /* color */
  --brand: var(--blue-7, #006ae6);
  --bg-bg: #e9f1ff;
  --bg-container: var(--white, #ffffff);
  --bg-btn-default: var(--blue-7, #006ae6);
  --bg-btn-disabled: var(--coldgrey-4, #b8c3d7);
  --bg-btn-hover: var(--blue-6, #4689ff);
  --bg-btn-pressed: var(--blue-8, #005fea);
  --border-line: #d2e3f8;
  --icon-default: var(--coldgrey-6, #8d9ab2);
  --icon-hover: var(--blue-7, #006ae6);
  --text-inverse: var(--white, #ffffff);
  --text-primary: #2c455c;
  --text-secondery: #5e7693;
  --text-tertiary: #849ab4;
  --text-interactive-default: var(--blue-7, #006ae6);
  --text-interactive-disabled: var(--coldgrey-3, #ccd5e4);
  --text-interactive-hover: var(--blue-6, #4689ff);
  --text-interactive-pressed: var(--blue-8, #005fea);
}
[data-theme="dark"] {
  /* color */
  --brand: var(--blue-6, #4689ff);
  --bg-bg: #0e1422;
  --bg-container: #2a3349;
  --bg-btn-default: var(--blue-7, #006ae6);
  --bg-btn-disabled: var(--coldgrey-10, #323c47);
  --bg-btn-hover: var(--blue-5, #7ba2ff);
  --bg-btn-pressed: var(--blue-7, #006ae6);
  --border-line: #2a3349;
  --icon-default: #ffffff;
  --icon-hover: var(--blue-7, #006ae6);
  --text-inverse: var(--coldgrey-1, #f2f6f9);
  --text-primary: var(--coldgrey-1, #f2f6f9);
  --text-secondery: var(--coldgrey-3, #ccd5e4);
  --text-tertiary: var(--coldgrey-6, #8d9ab2);
  --text-interactive-default: var(--blue-7, #006ae6);
  --text-interactive-disabled: var(--coldgrey-9, #485463);
  --text-interactive-hover: var(--blue-5, #7ba2ff);
  --text-interactive-pressed: var(--blue-7, #006ae6);
}